<!DOCTYPE html>
 <html xmlns:th="http://wwww.thymleaf.org"> 



     <body>
         <div th:include="navigation.html"></div>
         
         <h1>Medicine Form</h1>
    <form id="contact_form"  method="post" th:action="@{/Doctor/medicine/add}" th:object="${medicine}">
        <label>Medicine Name: </label>
        <br>
    <input type="text" name="name" id="name" th:field="*{name}">
        </div>
        <div>
        <button type="submit" class="btn btn-primary px-4 btn-lg">ADD</button>
        </div>
    </form>
</body>


</html>