<html xmlns:th="http://wwww.thymleaf.org">
<head>
    <title>
       FEEDBACKS :
    </title>
    <link rel="stylesheet" href="/css/viewFeedbacks.css">
</head>
<body>
    <h2> FEEDBACKS:</h2>
    <table id="feedbacks">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Rating</th>
                <th>mail</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="feedback: ${feedbacks}">
                <td th:text="${feedback.id}"/>
                <td th:text="${feedback.comments}"/>
                <td th:text="${feedback.rating}"/>
                <td th:text="${feedback.mail}"/>
                <td th:text="${feedback.date}"/>


            </tr>
        </tbody>
    </table>
   
</body>
</html>