<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/Login_styling.css">
    <link rel="stylesheet" href="../css/interface.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <style>
        body {
            background-image: url('../images/b3.jpg');
        }

        #login-error {
            text-align: left;
            left: 10;
        }

    </style>

</head>

<body>
    <div id="cont">
        <div id="frm">
            <h1 id="wel">WELCOME</h1>


            <form id="login-form" action="@{/User/Login}" method="POST" onsubmit="return validateLoginForm()">
                <div id="fields">
                    <i class="fa fa-solid fa-user iicon"></i>
                    <input class="login-field" type="text" name="email" id="email" placeholder="Email">
                    <br>
                    <span id="email-error" class="error-message"></span>
                    
                    <i class="fa fa-solid fa-lock icon"></i>
                    <input class="login-field" type="password" name="pass" id="pass" placeholder="Password">
                    <br>
                    <span id="pass-error" class="error-message"></span>
                    
                    <input type="submit" name="submit" id="sb" class="login-field">
                </div>
                <div id="sgu">
                    <a class="link" href="/User/signup">Sign Up</a>
                    <p> Not a member yet? </p>
                </div>
            </form>
            
            <script>
                function validateLoginForm() {
                    var email = document.getElementById("email").value.trim();
                    var pass = document.getElementById("pass").value.trim();
                    var emailError = document.getElementById("email-error");
                    var passError = document.getElementById("pass-error");
                    var isValid = true;
            
                    // Clear previous error messages
                    emailError.textContent = "";
                    passError.textContent = "";
            
                    // Validate email
                    if (email === "") {
                        emailError.textContent = "Email is required";
                        isValid = false;
                    }
            
                    // Validate password
                    if (pass === "") {
                        passError.textContent = "Password is required";
                        isValid = false;
                    }
            
                    return isValid;
                }
            </script>

        </div>

    </div>
</body>

<footer>

</footer>

</html>
