<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Search</title>
    <link rel="stylesheet" href="/css/Search_Styling.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <section id="Search-bar">
    <h1 id="user_search_word">User Search</h1>
    <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <form action="@{/User/search}" method="GET">
            <input type="text" name="name" class="input-search"  placeholder="Enter name to search">
            <button type="submit">Search</button>
        </form>
      </div>
</section>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">specialization</th>

      </tr>
    </thead>
    <tbody>
          <tr th:each="user : ${doctors}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.specialization}"></td>
        </tr>
    </tbody>
  </table>

</body>

</html>