<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Search</title>
    <link rel="stylesheet" href="/css/Search_Styling.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<style>body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.search-container {
  position: relative;
}

.search-input {
  width: 200px;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  transition: width 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.search-input:focus {
  width: 400px;
  border-color: #007BFF;
  outline: none;
}
</style>
<body>
    <h1 id="user_search_word">User Search</h1>
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <div class="search-container">
        <form action="@{/User/search}" method="GET">
            <input type="text" name="name" class="search-input"  placeholder="Enter name to search">
            <button type="submit">Search</button>
        </form>
        </div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">specialization</th>

      </tr>
    </thead>
    <tbody>
          <tr th:each="user : ${doctors}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.specialization}"></td>
        </tr>
    </tbody>
  </table>

  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.querySelector('.search-input');
    
    searchInput.addEventListener('focus', function() {
        searchInput.classList.add('active');
    });

    searchInput.addEventListener('blur', function() {
        searchInput.classList.remove('active');
    });
});</script>
</body>

</html>