<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Diagnosis</title>
    <link rel="stylesheet" href="/css/patientinfocss.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:include="navigation.html"></div>
    <div class="container mt-5">
        <h2>Patient Diagnoses</h2>
        <h3 th:text="'Diagnosis History of Mr: ' + ${patient.firstname}"></h3> 
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Diagnosis</th>
                    <th>Treatment</th>
                    <th>By doctor</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="diagnosis : ${diagnoses}">
                    <td th:text="${diagnosis.diagnosisName}"></td>
                    <td th:text="${diagnosis.treatment}"></td>
                    <td th:text="${diagnosis.doctorName}"></td>

                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
