<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MEDICINES :</title>
    <link rel="stylesheet" href="/css/Feedbacks.css">
</head>
<body>
    <h2>MEDICINES:</h2>
    <table id="feedbacks">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medicine : ${medicines}">
                <td th:text="${medicine.id}"></td>
                <td th:text="${medicine.name}"></td>
                <td>
                    <form th:action="@{/Doctor/medicine/delete}" method="post">
                        <input type="hidden" name="id" th:value="${medicine.id}">
                        <button type="submit" class="dd">DELETE</button>
                    </form>
                        <a th:href="@{/Doctor/medicine/edit/{id}(id=${medicine.id})}" class="btn btn-primary">EDIT</a>
                        <input type="hidden" name="id" th:value="${medicine.id}">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>